.chat-header {
	.back-button {
		position: absolute;
		top: 50%;
		left: 15px;
		transform: translateY(-50%);
		display: inline-block;
	}

	.chat-title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: inline-block;
		width: 60%;
	}

	.participants {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		display: inline-block;		
	}
}